/* .container-fluid {
  height: 100% !important;
  background: rgb(34, 193, 195) !important;
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  ) !important;
}

.titulo {
  margin-left: 5%;
  margin-top: 5% !important;
}

.subtitulo {
  margin-left: 5%;
  margin-top: 5% !important;
}

.boton {
  margin-top: 5%;
  margin-left: 20% !important;
}

.como {
  margin-left: 40%;
} */